 html{
    scroll-behavior: smooth;
}

body{
    font-family: "work-san , san-serf";
    height: 100vh;
}

.special-heading{
  color: #ebeced;
  font-weight: 800;
  font-size:100px;
  letter-spacing: -3px;
  text-align: center;
  margin: 0;
}
.special-heading + p{
    text-align: center;
    margin: -30px;
    color: #797979;
  }


@media(max-width:767px){
  .special-heading{
    font-size: 60px;
  }
  .special-heading + p{
    margin: -20px;
  }

}
header{
    padding: 20px;

    .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
  }

   @media (min-width :760px){
    .container{
        width: 750px;
    }
  }

  @media (min-width :990px){
    .container{
        width: 970px;
    }
  }

  @media (min-width :1200px){
    .container{
        width: 1170px;
    }
  }

  .link{
    position: relative;

    .icon{
        width: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        span{
            background-color: #333;
            margin-bottom: 5px;
            height: 2px;
            
        }

        span:first-child{
            width: 100%;
        }

        span:nth-child(2){
            width: 60%;
        }

        span:last-child{
            width: 100%;
        }
    }

    
  }

  .link:hover .icon span:nth-child(2){
    width: 100%;
  }

  .link ul{
    list-style: none;
    position: absolute;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    right: 0;
    display: none;
    top: 35px;
    min-width:200px ;
    z-index: 1;
  }

  ul::before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f7f7f7 transparent;
    right:5px;
    top: -20px;


  }

  .link:hover ul{
    display: block;
  }
  .link ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;

  }

  

  .link ul li a:hover{
    padding-left: 25px;
  }
 
  .link ul li:not(:last-child) a{
    border-bottom: 1px solid #b8b6b6;
  }



} 

/* Start Landing Section */

.Landing{
  margin: 0;
  padding: 0;
  background-image: url(./download\ \(16\).jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  position: relative;

  .intro-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 260px;
    max-width: 100%;
    transform: translate(-50% , -50%);
    h1{
      margin: 0;
      color: #2b0b0b;
     
    }
  }


}

/* End Landing Section */
.feature{
  padding-top: 60px;
  padding-left: 50px;
  padding-bottom: 60px;
  background-color: #f7f7f7;

  .container{
    text-align: center;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 20px;

     h3{
      font-weight: 800;
      margin: 20px 0px;
     }

     p{
      line-height: 1.7;
      color: #797979;
     }

  }
}

.services{
  text-align: center;
  /* padding-bottom: 60px;
  padding-top: 60px; */
  padding: 60px;
  


  .service-container{
    margin-top: 100px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;

    .srv{
      display: flex;
      margin-bottom: 40px;
    }

    @media (max-width : 760px){
      .srv {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }  

    }

    
        .text{

          h3{
            margin: 0 0 20px;
          }

          p{
          color: #797979;
          font-weight: 300;
         line-height: 1.6;
        }
        }
  }
  
  
  .img{
    width: 120px;
    /* flex-basis: 60px; */

  }


}

.services .service-container .image{
    position: relative;
    text-align: center;
    
    
}

.services .service-container .image::before {
  content: "";
  background-color: #2c4755;
  width: 90px;
  height: calc(100% + 90px);
  top: -40px;
  position: absolute;
  right: 30px;
  z-index: -1;
} 
  



.services .service-container .image img{
      width: 160px;
    }
 @media (max-width: 1199px) {
  .image-column {
    display: none;
  }
  
 }

.Portfolio{
  margin: 0;
  padding: 60px;
  background-color: #f7f7f7;

  .Portfolio-content{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 20px;
     margin-top: 80px;
     align-items: center;

     .card{
      background-color: white;

      img{
     max-width: 100%;
     }

     .in-folio{
      padding: 20px;

      h3{
        margin: 0;
      }

      p{
       color: #797979;
          font-weight: 300;
         line-height: 1.6;
      }
     }
     }
  }

  
} 

.about{
  padding-top : 60px;
  padding-bottom: 100px;
  padding-left: 60px;

  .about-content{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .text{
     padding-left: 472px;
     text-align: center;
     padding-right: 100px;

    }

    .text p:first-of-type{
      font-weight: bolder;
      line-height: 2;
      margin-bottom: 50px;
      
    }
    .text hr{
      border-color:#2c4755;
      font-weight: bolder;
      display: inline-block;
      width: 50%;
    }
    .text p:last-of-type{
      color: #777;
      line-height: 2;
      font-weight: 200;
    }
  

    .image{
      width: 200px;
      height: 50px;
      position: relative;
    }

    .image::before{
      content: "";
      position: absolute;
      width: 100px;
      height: 428px;
      top: -40px;
      left: -30px;
      background-color: #f7f7f7;
      z-index: -1;
    }

    .image::after{
      top: -40px;
      content: "";
      position: absolute;
      width: 120px;
      height: 300px;
      border-left: 80px solid rgb(95, 128, 119);
      border-bottom: 80px solid rgb(95, 128, 119);
      z-index: -1;
      right: -150px;
    }
  }

  @media (max-width :990px){
    .about-content{
      display: flex;
      flex-direction: column;
      text-align: center;
    
      .image{
       margin-bottom: 30px;
      }
      .text{
       width: 100%;
       padding: 250px 0 10px 0 ;


      }
    }

  } 

    @media (max-width: 1199px) {
  .image::before
  .image::after{
    display: none;
  }
  
 }

}




@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}

@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }



}

.end{
  background-color:#f7f7f7;
  padding: 60px;

  .into{
    text-align: center;
    margin: 100px;

    .par{
      margin: 50px;
      font-size:xx-large;
      font-weight:bolder;
      color: #2c4755;
    }
    .link{
      margin: auto;
      text-decoration: none;
       font-size:xx-large;
      font-weight:bolder;
      color: rgb(74, 175, 141);

    }
    .social{
      margin: 50px;
      display: flex;
      justify-content: center;
      font-size: smaller;
      font-weight: lighter;
      color: #333;

      i{
        margin-left: 15px;
      }
    }
  }
  @media (max-width :767px){
    .into .par ,
    .into .link {
      font-size: 25px;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .par{
      display: flex;
      justify-content: center;
      width: 100%;
    }

  }


}

footer{
  background-color: #2c4755;
  color: white;
  text-align: center;
 padding: 30px;
 font-size: large;
  span{
    color:rgb(74, 175, 141) ;
  }
}