h1{
    font-style: italic;

}

#para{
    height:auto;
    width: auto;
    overflow: auto;
    margin: auto;
    text-align: left;
    padding: 30px;
    border: 20px ;

    
}


img{
    height: 200px;
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
    min-width: 60px;
}

#dvi{
    padding: 5px 0px 0px 5px;
    
    height:  10px;
    float:left ;
    border: 20px solid white;
    text-align:center;
    min-width: 100px;
}

.div{
    box-shadow: 40p 10px 10px 5px rgb(194, 81, 21) inset;    
}

.box{
    border-radius: 10px;
}

.container{
   position: relative; 
   width: 300px;
   height: 300px;
 
}

.square{
    position: absolute;
    width: 50%;
    height: 50%;
    border: 1px solid #333;
}

.red {
    background-color: red;
    top: 20px;
    left: 20px;
    z-index: 1;

}

.teal{
    background-color: teal;
    top: 50px;
    left: 50px;
    z-index: 2;

}

.purple{
    background-color: purple;
    top: 80px;
    left: 80px;
    z-index: 3;

}

table{
    width: 50%;
    font-family: serif;
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 0 10px #2a2a2a;
}

td{
    padding: 10px 15px;
    text-align: left;
    border: solid 2px #333;
    background-color: rgb(137, 135, 134);
}

th{
    padding: 10px 15px;
    text-align: left;
    border: solid 2px #333;
    background-color:rgb(137, 135, 134);
    font-weight:bolder ;
}
