#io{
    text-align: center;
 
}

#form{
    text-align: center;
    padding: 30px;
    border: 20px;
    background-color: rgb(212, 238, 238);
    box-shadow: 5px 10px rgb(108, 112, 108);
}

#sec{
    text-align: center;
    padding: 30px;
    border: 20px;
    background-color: rgb(212, 238, 238);
    box-shadow: 5px 10px rgb(108, 112, 108);

}

#but{
    width: 680px;
    background-color: rgb(147, 158, 170);
    color: rgb(250, 252, 253);
    font-size: large;
}

.sec{
     text-align: right;
    padding: 30px;
    border: 20px;
    background-color: rgb(212, 238, 238);
    box-shadow: 5px 10px rgb(108, 112, 108);
}

.se{
    text-align: right;
    padding: 30px;
    border: 20px;
    background-color: white;
    box-shadow: 5px 10px rgb(108, 112, 108);
    font-size: larger;
    list-style-type:armenian;
}

#sch{
    font-size:xx-large;
    text-align: center;
    text-shadow: 1px 1px 2px red;
     padding: 30px;
     border: 20px;
     background-color: #e3e2ed;
    
}

.sch h3{
    font-weight: bold;
    text-align: left;
    width: fit-content;
    font-size: xx-large;
    color: white;
    background-color:#e91e63;
     padding: 30px;
     border: 20px;
     background-color: #5f5b5b;
}

#div{
     padding: 30px;
     height: 60px;
     border: 20px;
     background-color: red;
     box-shadow: 1px 1px 5px rgb(62, 59, 59);
}
.sch{
   text-align: right;
   border-bottom-left-radius:dotted ;
    padding: 30px;
    border: 20px;
    background-color: rgb(212, 238, 238);
    box-shadow: 5px 10px rgb(108, 112, 108);
}
#one{
    font-size: x-large;
     background-color: black;
    color: rgb(248, 252, 251);
   
    width: fit-content;
}

.pio{
    text-align: center;
    font-size: larger;

}

#pio{
    text-align: center;
    font-size: xx-large;
    padding: 30px;
    border: 20px;
    background-color: rgb(4, 18, 18);
    box-shadow: 5px 10px rgb(108, 112, 108);
    color: white;
}

.red-box{
    z-index: 2;
    background-color: red;
    padding: 20px;
    width: 20px;
    font-size: xx-large;

}

#po{
    display: flex;
}

.comment-container{
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
}

.comment-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #c8c3c3;
}

.comment-name{
    width: 150px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #333;
    background-color: #5f5b5b;
    margin-right: 20px;
    position: relative;

}

.comment-content{
    padding: 10px;
    background-color: #c8c3c3;

}