
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ececec;
}

/* Header Styling */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  color: #23a96e;
  font-weight: bold;
  font-size: 20px;
}

.nav {
  display: flex;
  list-style: none;
  gap: 15px;
  color: #777;
}

/* Grid Layout */
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Columns */
  gap: 15px;
  padding: 20px;
}

.product {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: #777;
  border: 1px solid #ddd;
}

.product span {
  display: block;
  font-size: 25px;
  color: black;
  margin-bottom: 5px;
}

/* Footer Styling */
footer {
  background-color: #23a96e;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;}