*{
    padding: 0;
    margin: 0;
}

body{
    scroll-behavior: smooth;
    gap: 30px;
   
    

}



header{

    section{
        background-image: url(./Rectangle\ 1441.jpg);
        background-position: center;
        background-size: cover;
        /* background-repeat: no-repeat; */
        height: 100vh;
           nav{
       
             padding:40px ;
             display: flex;
             justify-content: space-around;

        h2{
            color: #ffffff;
            font-size: large;
            font-weight: bold;
            font-family: sans-serif;
        }
        
        ul{
           display: flex;
            gap: 30px;  
            list-style: none;

            a{
                color: #ffffff;
                text-decoration: none;
                font-family: sans-serif;
                
            }
        }
        
        img{
            position: relative;
            
        }

        p{
            position: absolute;
            background-color:#E58411 ;
            width: 15px;
            height: 20px;
            top: 40px;
            left: 1290px;
            border-radius: 50%;
            align-items: center;
            text-align: center;
            font-weight: bolder;
            color: #ffffff;

        }
    }

    .section{
       


        h1{
            font-size: 50px;
            font-weight: 200;
            font-family:sans-serif ;
            text-align: center;
            color: #ffffff;
            width: 860;
            height: 150px;
            display: flex;
            justify-content: center;
            
            
        }

        p{
            color: #ffffff;
            display: flex;
            justify-content: center;
            width: 600;
            height: 70px;
            opacity: .7;
            font-family: sans-serif;
            font-size: 17px;
            font-weight: 10;
            text-align: center;
        }

        .searchicon{
            position: relative;

            input{
                color: #ffffff;
                font-family: sans-serif;
                width: 300px;
                height: 40px;
                opacity: .5;
                background-color: rgb(47, 41, 41);
                display: flex;
                justify-content: center;
                border-radius: 20px;
                margin: 20px auto;
                border: 1px solid #ffffff;
                /* position: relative; */
            }

            .imgicon{
                width: 15px;
                height: 15px;
                position: absolute;
                background-color: #E58411;
                padding: 11px;
                border-radius: 50%;
                top: 4px;
                right: 620px;
                opacity: .6;

            }
            
        }

        
    }
    }
}

.sec{
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
    display: flex;
    /* display: flex ;
    grid-column: auto;     */
    justify-content: space-between;
    gap: 60px;
    padding: 20px;
    margin-top: 200px;

    h2{
        margin-right: 50px;
        width: 200px;
    }

    

    button{
        color: #E58411;
        background-color: #ffffff;
        border: solid #ffffff;
        
    }
}

.sec2{
    background-color:#f7f7f7 ;
    padding: 50px;
    h2{
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 40px;
        /* margin: 40px auto;
        width: 400; */
        padding: 50px;
    }

    nav{
        padding:40px ;
        display: flex;
        justify-content: space-around;
            

        ul{
           display: flex;
            gap: 30px;  
            list-style: none;
            width: 300px;
            background-color: #EEEEEE;
            height: 50px;
            /* text-align: center; */
            align-items: center;
            justify-content: center;
            border-radius: 20px;


            li{
                text-decoration: none;
                font-family: sans-serif;
                font-weight:lighter ;
                
                
            }

    } 


    }

    .container{
        display: flex;
        justify-content: space-between;
        margin: 30px;
        padding: 30px;
        gap: 30px;

        div{
            font-family: sans-serif;
            background-color: #ffffff;
            padding: 10px;
            /* border: 1px solid #a09f9f; */
            
        }

       
    }

    button{
        color: #E58411;
        display: flex;
        border: 1px solid #f7f7f7 ;
        margin: 20px auto;
        width:auto;
        height: 20px;
        font-family: sans-serif;
        font-size: large;
    }

}

.sec3{
    display: flex;
    padding: 100px 80px 50px 0px;
    gap: 100px;

    h3{
        color: #E58411;
        font-size: smaller;
    }

    img{
        box-shadow: 20px -20px 30px rgb(131, 122, 122);
        width: 500px;
    }

    .div2{
        margin: 20px auto;
        gap: 60px;
    }

    

}



.sec4{
    display: flex;
    padding: 100px 0px 50px 50px;

    .div1{
        margin: 20px auto;
        gap: 100px;
    }

    h3{
        color: #E58411;
        font-size: smaller;
    }

    .div2{

        padding: 30px 30px 5px 30px;
        display: grid;
        grid-column: auto;
       
         
        .img1{
            width: 200px;
            height: 200px;
            top: 3400px;

        }

        .img2{
            top: 3700px;
            width: 180px;
            height: 230px;
        }

    }

    .div3{
        
       img{
          height: 400px;
          width: 280px;
          
       }

    }
   
}

.sec5{

    padding: 70px;

   .view{
    font-family: sans-serif;
    margin: 20px auto;
    text-align: center;
    gap: 30px;


     h3{
       color: #E58411;
       font-size: smaller;
       font-weight: lighter; 
       
    }

    h2{
        font-size: larger;
        font-weight: bolder;
    }
   }

   .client{
    display: flex;
    gap: 35px;

      
      .ima{
        width: 370px;
        height: 500px;
        position: relative;
     
        

    }

      .imb{
        width: 370px;
        height: 500px;
        position: relative;
        
        

    }  
    
      .imc{
        width: 370px;
        height: 500px;
        position: relative;
        

    }


  
    .ul1{
        width: 300px;
        height: 200px;
        background-color: #f7f7f7;
        font-family: sans-serif;
        text-align: center;
        border-radius: 30px;
        padding: 50px 5px 5px 5px;
        /* position: absolute; */
        top: 3500px;
        left: 100px; 

    }

    
    .ul2{
        width: 300px;
        height: 200px;
        background-color: #f7f7f7;
        font-family: sans-serif;
        text-align: center;
        border-radius: 30px;
        padding: 50px 5px 5px 5px;
        /* position: absolute; */
        top: 3500px;
        left: 500px; 

    }

    
    .ul3{
        width: 300px;
        height: 200px;
        background-color: #f7f7f7;
        font-family: sans-serif;
        text-align: center;
        border-radius: 30px;
        padding: 50px 5px 5px 5px;
        /* position: absolute; */
        top: 3500px;
        left: 900px; 

    }

    .im2{
        position: absolute;
        width: 50px;
        height: 55px;
        top: 3780px;
        background-color: white;
        padding: 15px;
        border-radius: 50%;
        left: 180px;
        

    }
   
    
    .im3{
        position: absolute;
        width: 50px;
        height: 55px;
        top: 3780px;
        background-color: white;
        padding: 15px;
        border-radius: 50%;
        left: 580px;

    }
    .im4{
        position: absolute;
        width: 50px;
        height: 55px;
        top: 3780px;
        background-color: white;
        padding: 15px;
        border-radius: 50%;
        left: 1000px;

    }
 
   }
}

.sec6{
    background-color: #ececec;
    .panto{
        display: flex;
        font-family: sans-serif;
        justify-content: space-around;
        padding: 50px;
        gap: 30px;

        .div1{
            gap: 15px;
        }

        .div2{  
           nav{
             ul{
                list-style: none;
                 padding: 10px;

                 li{
                     gap: 35px;
                 }
            }
           }
            h3{
                 color: #E58411;
                 font-size: smaller;
            }
        }
    }
}